<div class="flex-container-bt">
  <div class="item-container">
    <button mat-icon-button
        *ngIf="prefixIcon"
        [matTooltip]="prefixTooltip"
        (click)="clickPrefix.emit()">
      <mat-icon class="prefixIcon">{{ prefixIcon }}</mat-icon>
    </button>
    <div>
      <img src="../../../../../assets/gif/diente-animado-2.gif">
    </div>
    <p class="test">{{ title }}</p>
  </div>
  <div class="item-container" *ngIf="showSuffixButton && suffixIcon">
    <button mat-fab color="primary" style="background-color: #2bb4ba;" [matTooltip]="suffixTooltip" (click)="clickSuffix.emit()">
      <mat-icon class="suffixIcon"><i [ngClass]="suffixIcon"></i></mat-icon>
    </button>
  </div>
</div>

