@import "node_modules/@angular/material/theming";
@font-face {
  font-family: "Callgest";
  src: local("Callgest"), url(../../../../../assets/fonts/CallgestRegular.ttf) format("truetype");
}
:host {
  margin-bottom: 20px;

  // h1 {
  //   margin-top: 5px;
  //   margin-bottom: 0;
  //   font-family: "Callgest", Arial, Helvetica, sans-serif;
  // }

  .test{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-family: "Callgest", Arial, Helvetica, sans-serif;
    color: gold;
    white-space: pre;
    margin: 0;
  }
  .prefixIcon{
    color: #3D4C53;
  }

  .flex-container-bt {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .item-container {
    display: flex;
    justify-content: center;
  }
}
