<mat-form-field [appearance]="apariencia">
  <mat-label *ngIf="configuracion.label">{{configuracion.label}}</mat-label>
  <input matInput
    [formControl]="ctrl"
    [placeholder]="placeholder"
    [matAutocomplete]="auto"
    uppercase>
  <mat-autocomplete #auto="matAutocomplete" 
    [displayWith]="displayFn.bind(this)"
    (optionSelected)="selectedOption()">
    <mat-option *ngFor="let option of dataFiltered" [value]="option[configuracion.idField]">
      {{option[configuracion.textField]}}
    </mat-option>
  </mat-autocomplete>
  <button *ngIf="ctrl.value" matSuffix mat-icon-button (click)="clean()" [disabled]="ctrl.disabled">
    <mat-icon>close</mat-icon>
  </button>
  <mat-error *ngIf="sError && showMessage">{{ sError }}</mat-error>
</mat-form-field>