<h1 mat-dialog-title style="text-align: center">{{title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="form" autocomplete="off">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Apellido Paterno</mat-label>
          <input matInput formControlName="sApePaterno" placeholder="Diaz" class="uppercase" maxlength="50">
          <mat-error *ngIf="sApePaternoError">{{ sApePaternoError }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Apellido Materno</mat-label>
          <input matInput formControlName="sApeMaterno" placeholder="Diaz" class="uppercase" maxlength="50">
          <mat-error *ngIf="sApeMaternoError">{{ sApeMaternoError }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Nombres</mat-label>
          <input matInput formControlName="sNombres" placeholder="Melissa Fiorella" class="uppercase" maxlength="100">
          <mat-error *ngIf="sNombresError">{{ sNombresError }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Documento</mat-label>
          <input matInput formControlName="sNroDocumento" class="uppercase" maxlength="10">
          <mat-error *ngIf="sNroDocumentoError">{{ sNroDocumentoError }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <mat-form-field>
          <mat-label>Género</mat-label>
          <mat-select formControlName="sSexo">
            <mat-option value="M">Masculino</mat-option>
            <mat-option value="F">Femenino</mat-option>
            <mat-option value="O">Otro</mat-option>
          </mat-select>
          <mat-error *ngIf="sSexoError">{{ sSexoError }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-5">
        <mat-form-field>
          <mat-label>Celular</mat-label>
          <input matInput formControlName="sCelular" class="uppercase" maxlength="9">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="sTelefono" class="uppercase" maxlength="10">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <mat-form-field>
          <mat-label>Fecha de Nac.</mat-label>
          <input matInput [matDatepicker]="datepicker" formControlName="dFechaNac">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancelar</button>
              <button mat-raised-button color="primary" matDatepickerApply>Aplicar</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-9">
        <mat-form-field>
          <mat-label>Correo</mat-label>
          <input matInput formControlName="sCorreo" class="uppercase" maxlength="100">
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions class="space_center">
  <button mat-button color="primary" class="cms-btn-primary" (click)="saveCliente()">Guardar
  </button>
  <button mat-button mat-dialog-close class="cms-btn-secondary" (click)="dialogRef.close()">Cerrar
  </button>
</div>