$header-height: 48px;

:host::ng-deep .mat-drawer-inner-container::-webkit-scrollbar {
  display: none !important;
}

:host::ng-deep mat-drawer-container {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-drawer {
    width: 250px;

    mat-nav-list {
      width: 100%;
      min-height: 450px;
      background-size: cover;
      background-repeat: repeat-y;
      background-image: url('../../assets/images/dentimelidiaz.jpg');
      margin-top: -10px;
      padding: 0 0 90% 0;
      //background: url('../../assets/images/dentimelidiaz.jpg') no-repeat top;
      background-position: 0px 0px;

      animation: animatedBackground 10s linear infinite;
      -moz-animation: animatedBackground 10s linear infinite;
      -webkit-animation: animatedBackground 10s linear infinite;
      -ms-animation: animatedBackground 10s linear infinite;
      -o-animation: animatedBackground 10s linear infinite;
    }

    .mat-list-text{
      padding: 10px 0px 0px 20px !important;
    }
  }

  mat-drawer-content {
    background-repeat: repeat;
    background-image: url('../../assets/images/mosaico.jpg');

    mat-toolbar {
      min-height: $header-height;

      mat-toolbar-row {
        height: $header-height;
        display: flex;
        color: #fff;
        justify-content: flex-end;
        background: #703459;
        height: 64px;
      }
    }

    .page-container {
      padding: 20px 30px;
    }
  }
}

.toolbar-class {
  display: flex;
  justify-content: space-between !important;
}


.menu-header {
  text-align: center;

  img {
    width: 100%;
  }

  hr {
    border: 1px solid #f4f4f4;
    margin: 0px 8px;
  }
}

::ng-deep mat-list-item {
  background-color: darkgray;
  opacity: 0.7;
  color: white !important;
  font-size: x-large;
}

::ng-deep mat-list-item:hover {
  opacity: 1;
  background-color: #703459 !important;
}

.active-list-item {
  color: gold !important;
  background-color: black !important;
}


@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -180px 0;
  }
}

@-moz-keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -180px 0;
  }
}

@-webkit-keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -180px 0;
  }
}

@-ms-keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -180px 0;
  }
}

@-o-keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -180px 0;
  }
}