.atencion_table {
  margin-top: 10px !important;
  border: solid 1px #e0e0e0;
  height: 300px;
  scroll-behavior: "smooth";
  block-size: "end";
  inline-size: "nearest";
}

.atencion_foot {
  font-size: large;
  font-weight: bold;
}


button {
  background: #3D4C53;
  color: white !important;
  border-radius: 0 10px 0 10px !important;
  font-size: 16px !important;
  overflow: hidden;

  .btnText {
    transition: .3s;
  }

  .btnTwo {
    position: relative;
    width: 150px;
    height: 85px;
    margin-top: -100px;
    padding-top: 2px;
    background: #0975bb;
    left: -200px;
    transition: 0.3s;

    mat-icon {
      margin-top: 55px;
      margin-right: -115px;
    }
  }
}


button:hover .btnTwo {
  /*When hovering over .button change .btnTwo*/
  left: -130px;
}

button:hover .btnText {
  /*When hovering over .button change .btnText*/
  margin-left: 65px;
}

button:active {
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
}