<mat-card>
  <app-page-title 
    title="NUEVO PACIENTE DE ORTODONCIA" 
    prefixIcon="keyboard_arrow_left" 
    prefixTooltip="Regresar"
    (clickPrefix)="goOrtodonciaListado()" 
    suffixIcon="fa-solid fa-floppy-disk" 
    suffixTooltip="Guardar" 
    [showSuffixButton]="true"
    (clickSuffix)="saveOrtodoncia()">
  </app-page-title>
  <app-ortodoncia-nuevo-header
    [form]="form"
    [clientes]="clientes"
    (sendIdPaciente)="validatePacienteOrtodoncia($event)">
  </app-ortodoncia-nuevo-header>
  <app-ortodoncia-nuevo-body
    [detOrtodonciaArray]="formBody"> 
  </app-ortodoncia-nuevo-body>
</mat-card>
