.field-view {
  margin-bottom: 16px;
}

.field-view .value {
  font-weight: 500;
  padding: 8px 0;
}

.atencion_table {
  margin-top: 10px !important;
  border: solid 1px #e0e0e0;
  height: 300px;
  scroll-behavior: "smooth";
  block-size: "end";
  inline-size: "nearest";
}

.atencion_foot {
  font-size: large;
  font-weight: bold;
}

mat-label{
  font-weight: bold;
}